@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Figtree:ital,wght@0,300..900;1,300..900&family=Libertinus+Keyboard&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Signika+Negative&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

/*GLOBAL*/
*{
    padding: 0;
    margin: 0;

    font-family: "Roboto", sans-serif;
    text-align: center;
}

.anchor-button, button, input[type="submit"], input[type="reset"]
{
    transition: background-color 0.25s ease-in;
    background-color: #2f4768;
    color: white;
    font-size: 1rem;
    padding: 0.313rem 0.625rem;
    border: 2px solid black;
    border-radius: 20px;
}

.anchor-button:hover, button:hover, input[type="submit"]:hover, input[type="reset"]:hover
{
    background-color: #506d95;
    cursor: pointer;
}

input[type="file"] {display: none;}

.button-style
{
    transition: background-color 0.25s ease-in;
    background-color: #2f4768;
    color: white;
    font-size: 1rem;
    padding: 0.313rem 0.625rem;
    border: 2px solid black;
    border-radius: 20px;
    cursor: pointer;
}

.button-style:hover {background-color: #506d95;}
a{text-decoration: none;}
/*GLOBAL*/

/*STRUCTURAL*/
.page-container
{
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    background-image: url('./images/crosshair-bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.inner-pad
{
    max-width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;

    padding: 1.875rem;
    border-radius: 1.875rem;

    /*background-color: #e5f2ff;*/
    background: #E5F2FF;
    background: linear-gradient(180deg, rgba(229, 242, 255, 1) 0%, rgba(184, 219, 255, 1) 100%);
    box-shadow: black 0.063rem 0.063rem 0.313rem;
}

.inner-pad-button-group
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
}
/*STRUCTURAL*/

/*FORM*/
.form-container
{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    padding: 1.875rem;
    border-radius: 1.875rem;

    background: #E5F2FF;
    background: linear-gradient(180deg, rgba(229, 242, 255, 1) 0%, rgba(184, 219, 255, 1) 100%);
    box-shadow: black 0.063rem 0.063rem 0.313rem;
}

/*PROFILE PIC SELECION MENU*/
    .profile-pic-selection-menu
    {
    display: flex;
    flex-direction: row;

    padding: 0.25rem;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 0.5rem;
    }

    .radio-image-container
    {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.25rem;
    }

    .radio-image-container-item {position: relative;}

    .radio-image-container-item__image
    {
    max-width: 5rem;
    max-height: auto;

    border: 1px solid black;
    transition: box-shadow 0.25s ease-in, border-radius 0.25s ease-in;
    }

    .radio-image-container-item input[type="radio"]
    {
    position: absolute;
    opacity: 0;
    }

    .radio-image-container-item input:checked + label .radio-image-container-item__image, .radio-image-container-item__image:hover
    {
    box-shadow: 1px 1px 5px 5px #2f4768;
    border-color: #506d95;
    cursor: pointer;
    }

    .radio-image-container-item__image--square {border-radius: 0.5rem;}
    .radio-image-container-item__image--circle {border-radius: 50%;}
/*PROFILE PIC SELECTION MENU*/

/*IMAGE SHAPE SELECTOR*/
    .shape-selector-container
    {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0.5rem;
    }

    .ssc__item
    {
    width: 5rem;
    height: 5rem;
    position:relative;

    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 0.5rem;
    transition: box-shadow 0.25s ease-in;
    }

    .ssc__item input[type="radio"]
    {
    position: absolute;
    opacity: 0;
    }

    .ssc__item--circle .ssc__image 
    {
    border-radius: 50%;
    transition: box-shadow 0.25s ease-in;
    border: 1px solid black;
    }

    .ssc__image
    {
    width: 100%;
    height: 100%;
    transition: box-shadow 0.25s ease-in;
    border: 0.063rem solid black;
    border-radius: 0.5rem;
    
    }
        
    .ssc__item input[type="radio"]:checked + label .ssc__image, .ssc__image:hover
    {
    box-shadow: 1px 1px 5px 5px #2f4768;
    border-color: #506d95;
    cursor: pointer;
    }
/*IMAGE SHAPE SELECTOR*/


.input-group
{
    display: flex;
    flex-direction: column;
}

input, select, option
{
    font-size: 1rem;
    padding: 0.25rem;
    border-radius: 0.5rem;
    border: 0.063rem solid black;
}

.upload-form
{
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;

    justify-content: center;
    align-items: center;
}
/*FORM*/

/*CARD*/
.card
{
    width: 18.75rem;
    min-height: 25rem;
    padding: 1.563rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    position: relative;
    overflow: hidden;

    background-image: url('images/card-bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border: 0.063rem solid black;
    border-radius: 0.313rem;

}

.card__image
{
    max-width: 5rem;
    max-height: auto;
    border: 0.063rem solid black;
}

.card__image--circular
{
    border-radius: 100%;
    border: 0.063rem solid black;
}
/*CARD*/

/*GENERATING PAGE*/
.loading-page
{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: white;
    z-index: 2;
}

.loading-icon
{
    width: auto;
    height: 10rem;
}
/*GENERATING PAGE*/

/*UTILITY*/
.text-bold{font-weight: bold;}
.text-underlined{text-decoration: underline;}
.text-italic{font-style: italic;}

.text-group
{
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}

.text-group-multiple
{
    display: flex;
    flex-direction: column;
    gap: 0.315rem;
}

.error-message-container
{
    padding: 0.25rem;
    border: 0.063rem solid black;
    border-radius: 0.5rem;
    background-color:orangered;
    color: white;
}

.button-group
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.25rem;
}

.fade-out 
{
    animation-name: fade-out-content;
    animation-duration: 1s;
}

@keyframes fade-out-content
{
   from {opacity: 100;}
   to {opacity: 0;}     
};
/*UTILITY*/